
<h2>ETL system challenge</h2>

<p>
  In computing, <span class="fw-bold">extract</span>, <span class="fw-bold">transform</span>, <span class="fw-bold">load</span> (ETL) is the general procedure of copying data from one or more sources
  into a destination system which represents the data differently from the source(s) or in a different context than the source(s).
  The ETL process became a popular concept in the 1970s and is often used in data warehousing.
</p>

<p>
  At DealerInspire, it is common to <span class="fw-bold">extract</span> data from internal and external systems, <span class="fw-bold">transform</span> that data to meet our data quality requirements,
  and then <span class="fw-bold">load</span> that data into a database.  In some cases we may execute tens of thousands of tasks per day that all follow a common
  high level goal to consume high quality data that can be used to benefit our customers.
</p>

<p>
  With the above in mind, we would like you to use what you know about Object Oriented Programming and Ruby to implement the following:

  <ul>
    <li>
      Update our BaseJob class to form a highly reusable base class from which other classes will be able to orchestrate
      their ETL operations with minimal code duplication.
    </li>
    <li>
      Once you have implemented the base class, create a DealersJob worker that utilizes the base class to extract data
      from a simulated API call returned from our DealerApiClient#fetch_all method.  The DealersJob worker should then transform
      this data in whatever way you think would be most valuable in this system, and then that transformed data should be loaded
      into a database using ActiveRecord.  At a minimum you will need to create a dealers table, though some normalization may be ideal
      in our system. Be sure to create schema migrations and models for any of the core domain classes you create as part of this challenge.
    </li>
  </ul>
</p>

<p>The challenge may be considered complete once you can invoke the DealersJob worker and confirm that data has been loaded in the database in your desired format.</p>

<p>You can run the worker by entering rails console.</p>
<code>docker-compose run web rails console.</code>
<p>and then run the worker</p>
<code>DealersJob.new.perform_now </code>

<div class="mt-3">
  <p>To view an example of the raw data returned from the API, click <a href="/raw_data/dealers">here</a></p>
</div>

<div><a href="/">Back to Main</a></div>
<div><a href="/rails_mvc">View Part 2</a></div>
