<h2>Dealer Inspire: Ruby on Rails Code Challenge</h2>

<p>
  This code challenge is comprised of a single two part code challenge designed to help us gain an understanding of
  your current level of familiarity with Ruby on Rails and how you may aclimate to the type of work we do here at Dealer Inspire.
</p>

<p>
  You should invest no more than two hours to complete this challenge. When you have either completed the challenge criteria
  or reached the end of the time limit, please email us a link to a public repository showing your work. Add as many comments as you feel necessary to document your work. We ask that you
  avoid any third party gems not already included in the repo.
</p>

<p>
  Be sure to start with the README and then use the links below to learn more about each segment of this code challenge.
  The challenge segments should be completed in order.
</p>

<p>Part 1: <a href="/etl_system">ETL System</a><p>
<p>Part 2: <a href="/rails_mvc">Rails MVC</a></p>
