<h2>Rails MVC</h2>

<p>
  Now that you've successfully implemented your BaseJob and DealersJob worker classes, it's time to display the loaded data.
</p>

<p>
  Utilize the LoadedDataController#dealers method to query the dealers data you have loaded into the database and display that data
  in a list.  Each entry within that list should link to a page that displays a single dealer and any of their related data.
</p>

<p>
  For the purposes of this code challenge, it is acceptable to use server rendered templates (ERB) or front end javascript/react to display this information.
</p>

<div><a href="/">Back to Main</a></div>
<div><a href="/etl_system">Back to Part 1 (ETL System)</a></div>
